<h2>Products</h2>
<div class="pro">
  <div class="card mb-3" *ngFor="let product of products">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ product.image }}"
          class="img-fluid rounded-start"
          alt="{{ product.name }}"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
